GITHUB_TOKEN=
GITHUB_APPID=
GITHUB_KEY=
HIPCHAT_ROOM_DEVELOPMENT_TOKEN=
HIPCHAT_ROOM_ANNOUNCEMENTS_TOKEN=
HIPCHAT_ROOM_MXCONTROL_TOKEN=
JIRA_user=
JIRA_pass=
LOSERS_ArtificerZeno="Michael Unnold"
awsAccessKeyId=
awsSecretAccessKey=
awsRegion=
DYNAMODB_TABLE_MXCONTROL=
